{% extends template('widget') %}

{% define data = {
    product: _widget.product,
    socialIcons: _widget.socialIcons
} %}

{% block body %}
    <h1>Product Social Widget Content</h1>
{% endblock %}
